body{
    background-color: rgb(255, 255, 255);
}
.title {
    font-size: large;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
}

.youtube-logo {
text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70px
}

input {
    height: 20 px;
}

button {
    min-width: 120px;
}