*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}
.title {
    font-size: large;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
}

.youtube-logo {
text-align: center;
}



input {
    height: 20 px;
}

button {
    min-width: 120px;
}

.subtitles {
    text-align: center;
}

.search{
    text-align: center;
}
